// Specific CSS for your home-page
body {
  h1 {
    font-family: $my-font;
  }
  h2 {
    font-family: $my-font;
    margin: 0;
  }
  p {
    font-family: $my-font;
  }
}
.profil-picture {
  // width : 265px;
  // height: 185px;
  padding: 8px;
  max-width: 100%;
  max-height: 100%;
  // border-radius: 8px;
}

html {
  background-color: white;
}

.main-container {
  background-color: white;
}
.block-top {
  display: flex;
  height: 30vh;
  .block-top-left {
    width: 45vw;
    // flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    h1 {
      font-size: 36px;
      margin-right: 8px;
    }
  }
  .block-top-center {
    // flex-grow: 1;
    width: 265px;
    // width: 25vw;
    background-color: $my-blue;
  }
  .block-top-right {
    // flex-grow: 1;
    width: 30vw;
    background-color: $my-blue;
  }
}

.block-middle {
  display: flex;
  // height: 30vh;
  height: 185px;
  // height: 201px;
  .block-middle-left {
    width: 45vw;
    background-color: $my-green;
    // opacity: 0.35;
  }
  .block-middle-center {
    // width: 281px;
    // width: 25vw;
    width: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222,245,246);
  }
  .block-middle-right {
    width: 30vw;
    background-color: $my-blue;
    // flex-grow: 1;
  }
}

.block-bottom {
  height: 60vh;
  display: flex;
  .block-bottom-left {
    width: 45vw;
    background-color: $my-green;
    // background-color: green;
    // opacity: 0.35;
    // flex-grow: 1;
  }
  .block-bottom-center {
    // width: 25vw;
    background-color: $my-green;
    // opacity: 0.35;
    width: 265px;
    // max-width: 265px;
    // min-width: 265px;
  }
  .block-bottom-right {
    padding: 8px;
    width: 30vw;
    background-color: white;
  }
}

// ______________________________________________________________
// PROJECTS PARTS

.projects-title {
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
  display: flex;
  width: 56vw;
  background-color: $my-blue;
  position: absolute;
  top: 112vh;
  height: 10vh;
}

.projects {
  display: flex;
  margin-top: 90px;
  justify-content: center;
}

.project-infos {
  text-align: center;
}

.project-card {
  height: auto;
  width: 92vw;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 24px;
  margin-bottom: 32px;
  justify-content: space-around;
}

.green-background-projects {
  background-color: $my-green;
  width: 37vw;
  height: 100vh;
}

// ________________________________________________
// CAROUSEL

.caroussel-block {
  width: 60%;
  justify-content: center;
  display: flex;
}

.carousel-portable {
  width: 204px;
  height: 432px;
}

.carousel-window {
  width: 100%;
  height: auto;
}

.prev-nav-portable {
  left: -30px !important;
}

.next-nav-portable {
  right: -30px !important;
}

.prev-nav-window {
  left: -12% !important;
}

.next-nav-window {
  right: -12% !important;
}



.nav-boutton {
  color: grey;
}

.carousel-indicators {
  bottom: -30px;
  opacity: 0.4;
  li {
  background-color: black;
  }
}

.carousel-indicators-window {
  bottom: -40px !important;
}

// _____________________________________________________________
// CONTACTS

.contacts {
  background-color: $my-green;
  width: 70vw;
  position: relative;
  margin-top: 32px;
  h2 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: -18px;
    background-color: $my-blue;
    width: 56vw;
    padding: 12px;
  }
}

.infos-contacts {
  height: 28vh;
  padding-top: 8vh;
  margin-left: 10vh;
}

.info-contact-line {
  display: flex;
  padding: 8px;
  align-items: center;
  p {
    margin: 0;
    padding-left: 16px;
  }
  i {
    color: grey;
  }
}
