<div class="main-container">
  <div class="block-top">
    <div class="block-top-left">
      <h1>Hi, I'm Hugo</h1>
    </div>
    <div class="block-top-center">
    </div>
    <div class="block-top-right">
    </div>
  </div>
  <div class="block-middle">
    <div class="block-middle-left">

    </div>
    <div class="block-middle-center">
      <%= image_tag("profil_bw.png", class: "profil-picture")%>
    </div>
    <div class="block-middle-right">

    </div>
  </div>
  <div class="block-bottom">
    <div class="block-bottom-left">
    </div>
    <div class="block-bottom-center">
    </div>
    <div class="block-bottom-right">
      <h2>Full-stack</h2>
      <h2>web developper</h2>
    </div>
  </div>
  <div class="projects-title">
    <h2>My projects</h2>
  </div>
  <div class="projects">
    <div class="projects-block">
      <div class="project-card">
        <div class="caroussel-block">
          <div id="carouselGarden" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselGarden" data-slide-to="0" class="active"></li>
              <li data-target="#carouselGarden" data-slide-to="1"></li>
              <li data-target="#carouselGarden" data-slide-to="2"></li>
              <li data-target="#carouselGarden" data-slide-to="3"></li>
              <li data-target="#carouselGarden" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner carousel-portable">
              <div class="carousel-item active">
                <img src="assets/garden1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/garden2.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/garden6.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/garden4.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/garden5.png" class="d-block w-100" alt="...">
              </div>

            </div>
            <a class="carousel-control-prev prev-nav-portable" href="#carouselGarden" role="button" data-slide="prev">
              <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
              <i class="fas fa-chevron-left fa-2x nav-boutton"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next next-nav-portable" href="#carouselGarden" role="button" data-slide="next">
              <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
              <i class="fas fa-chevron-right fa-2x nav-boutton"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="project-infos">
          <h2>Garden Party</h2>
          <p>Your gardening companion</p>
        </div>
      </div>
      <div class="project-card">
        <div class="caroussel-block">
          <div id="carouselShare" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators carousel-indicators-window">
              <li data-target="#carouselShare" data-slide-to="0" class="active"></li>
              <li data-target="#carouselShare" data-slide-to="1"></li>
              <li data-target="#carouselShare" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner carousel-window">
              <div class="carousel-item active">
                <img src="assets/share1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/share2.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/share3.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev prev-nav-window" href="#carouselShare" role="button" data-slide="prev">
              <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
              <i class="fas fa-chevron-left fa-2x nav-boutton"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next next-nav-window" href="#carouselShare" role="button" data-slide="next">
              <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
              <i class="fas fa-chevron-right fa-2x nav-boutton"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="project-infos">
          <h2>Share Voisins</h2>
          <p>Rent everyday's stuff <br>
          to people around you</p>
        </div>
      </div>

      <div class="project-card">
        <div class="caroussel-block">
          <div id="carouselCocktail" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators carousel-indicators-window">
              <li data-target="#carouselCocktail" data-slide-to="0" class="active"></li>
              <li data-target="#carouselCocktail" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner carousel-window">
              <div class="carousel-item active">
                <img src="assets/cocktail1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/cocktail2.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev prev-nav-window" href="#carouselCocktail" role="button" data-slide="prev">
              <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
              <i class="fas fa-chevron-left fa-2x nav-boutton"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next next-nav-window" href="#carouselCocktail" role="button" data-slide="next">
              <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
              <i class="fas fa-chevron-right fa-2x nav-boutton"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="project-infos">
          <h2>Cocktail's fabriq</h2>
          <p>Share your best drink <br>recipes</p>
        </div>
      </div>
    </div>



 <!--    <div class="green-background-projects">

    </div> -->

  </div>
  <div class="contacts">
      <h2>Contacts</h2>
      <div class="infos-contacts">
        <div class="info-contact-line">
          <i class="fas fa-mobile-alt" style="font-size: 1.4em;"></i>
          <p>+33 7 85 95 36 64</p>
        </div>
        <div class="info-contact-line">
          <i class="fas fa-envelope"></i>
          <p>lm.hugo@hotmail.fr</p>
        </div>
        <div class="info-contact-line">
          <i class="fas fa-home"></i>
          <p>Bordeaux(33000), France</p>
        </div>
      </div>
    </div>
</div>
