<div class="main-container">
  <div class="block-top">
    <div class="block-top-left">
      <h1>Hi, I'm Hugo</h1>
    </div>
    <div class="block-top-center">
    </div>
    <div class="block-top-right">
    </div>
  </div>
  <div class="block-middle">
    <div class="block-middle-left">

    </div>
    <div class="block-middle-center">
      <%= image_tag("profil_bw", class: "profil-picture")%>
    </div>
    <div class="block-middle-right">

    </div>
  </div>
  <div class="block-bottom">
    <div class="block-bottom-left">
    </div>
    <div class="block-bottom-center">
    </div>
    <div class="block-bottom-right">
      <h2>Full-stack</h2>
      <h2>web developper</h2>
    </div>
  </div>
  <div class="projects-title">
    <h2>My projects</h2>
  </div>
  <div class="projects">
    <div class="projects-block">
      <div class="project-card">
        <h2>Garden Party</h2>
      </div>
      <div class="project-card">
        <h2>Share Voisins</h2>
      </div>
      <div class="project-card">
        <h2>Cocktail's fabrik</h2>
      </div>
    </div>
    <div class="green-background-projects">

    </div>
  </div>
</div>
